<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <meta charset='utf-8'>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                <style>
                    /* Estilos adicionales */
                    .custom-input {
                        border-radius: 10px; /* Ajusta la curvatura de los bordes */
                        margin-bottom: 15px; /* Añade espacio entre los elementos */
                    }
                </style>
                </head>
                <body class='snippet-body'>
                    <header th:replace="~{layout/plantilla :: header}"/>
                    <section class="">
                        <div class="container mt-5">
                            <div class="row justify-content-center g-2">
                                <div class="col-md-5 ">
                                    <div class="p-3">

                                        <h2 class="text-center">[[#{login.login}]]</h2>
                                        <form method="POST" th:action="@{/login}">
                                            <div class="form-group p-3">
                                                <label for="email">[[#{login.correo}]]</label>
                                                <input class="form-control rounded-pill " type="text" name="username" id="username"placeholder="Ingrese su correo electrónico"/>
                                            </div>
                                            <div class="form-group p-3">
                                                <label for="pwd">[[#{login.contraseña}]]</label>
                                                <input class="form-control rounded-pill" type="password" name="password" id="password"placeholder="Ingrese su contraseña"/>
                                            </div>
                                            <div class="d-grid gap-2 col-11 mx-auto mb-4">
                                                <button type="submit" class=" custom-background3 fw-bold">[[#{login.loginbtn}]]</button>
                                            </div>
                                            <div class="d-grid gap-2 col-11 mx-auto mb-4">
                                                <button type="submit" class="custom-background3 fw-bold">
                                                    <a th:href="@{/registro/nuevo}" class="btn d-block text-decoration-none ">
                                                        <i class="fas fa-user-plus"></i> [[#{login.registrarse}]]
                                                    </a>
                                                </button>

                                            </div>
                                            <div class="form-group p-3" th:if="${param.error != null}">
                                                <h3>[[#{login.msgerror}]]</h3>
                                            </div>
                                        </form>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </section>

                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                </body>
                </html>
