<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda en Linea</title>
    </head>
    <body>


        <!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mt-2" th:each="producto, contador : ${productos}">
                        <div class="card rounded" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                            <div class="card-body">
                                <div class="card-img-actions">
                                    <img th:src="${producto.rutaImagen}" class="card-img img-fluid max-img" alt="Producto"></img>
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div class="mb-2">
                                    <h6 class="font-weight-semibold mb-2">
                                        <span class="text-default mb-2"><strong>[[${producto.descripcion}]]</strong></span>
                                    </h6>
                                    <span class="text-muted"><span class="text-muted">[[${producto.idProducto}]]</span></span>
                                </div>
                                <h3 class="mb-0 font-weight-semibold custom-text mb-3">₡[[${producto.precio}]]</h3>
                                <!--<div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>-->
                                <!--<div class="text-muted mb-3">34 reviews</div>-->
                                <button type="button" class="custom-background3 text-white">
                                    <i class="fa fa-cart-plus mr-2"></i> Agregar al carrito
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>


    </body>
</html>